body {
    background-color: black; /* Cor de fundo da página: preta */
    color: white; /* Cor do texto: branco */
    display: flex; /* Usado para centralizar o conteúdo */
    justify-content: center; /* Alinha o conteúdo horizontalmente no centro */
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
    height: 100vh; /* Garante que o corpo ocupe toda a altura da janela */
    margin: 0; /* Remove qualquer margem padrão */
    text-align: center; /* Centraliza o texto */
}

.container {
    background: #555555; /* Cor de fundo do quadrado (cinza) */
    width: 450px; /* Largura do container */
    padding: 1.5rem; /* Espaçamento interno */
    margin: 50px auto; /* Margem automática para centralizar */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9); /* Sombra ao redor do container */
}

.form-title {
    font-size: 1.5rem; /* Tamanho da fonte do título */
    font-weight: bold; /* Negrito */
    text-align: center; /* Centraliza o texto */
    padding: 1.3rem; /* Espaçamento interno */
    margin-bottom: 0.4rem; /* Margem inferior */
    color: #20a8d8; /* Cor azul para o título */
}

.btn-dashboard, .btn-logout {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    background-color: #20a8d8;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-dashboard:hover, .btn-logout:hover {
    background-color: #0062cc; /* Um tom mais escuro para o hover */
    transform: scale(1.05); /* Leve aumento do tamanho */
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 1rem;
    }

    .form-title {
        font-size: 1.2rem;
    }

    .btn-dashboard, .btn-logout {
        font-size: 1rem; /* Ajusta o tamanho do botão em telas pequenas */
    }
}
